:root {
    --color-blue: #0A3871;
    --color-gris: #D8DFE8;
}

body {
    background-color: #F3F5FC;
}
/*HEADER*/
header{
    background-color: rgb(197, 213, 115);
}
.header {
    background-color: rgb(251, 136, 216);
    width: 100%;
    margin: auto;
}
.header__logo {
    margin-top: 40px;
}

/* MAIN*/
.main {
    background-color: rgb(168, 90, 242);
    width: 85%;
    margin: auto 40px auto auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 91px - 72px);
    align-items: end;
}
.main__izq {
    background-color: rgb(165, 236, 236);
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.izq__texto{
    width: 80%;
    font-size: 32px;
    color: var(--color-blue);
    resize: none;
    background: none;
    border: none;
    outline: none;
}
.izq_texto::placeholder{
    color: var(--color-blue);
}
.izq__footer {
    background-color: rgb(142, 229, 178);
}
.izq__botones{
    display: flex;
    gap: 24PX;
    margin-top: 16PX;
}
.btn__encriptar{
    max-width: 328px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    background-color: var(--color-blue);
    color: white;
    font-size: 16px;
}
.btn__desencriptar{
    max-width: 328px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    background-color:var(--color-gris);
    color: var(--color-blue);
    font-size: 16px;
}




.main__derecha {
    background-color: rgb(227, 147, 118);
    height: calc(100% + 48px);
}

@media screen and (max-width: 770px) {
    .main{
        grid-template-columns: 1fr;
    }
    .main__derecha{
        height: 100%;
    }
}